@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.navbar-container {
  top: 0;
  margin: 0 -15px !important;
  padding: 0 !important;
}

.navbar {
  background: transparent;
}

.navbar .navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-menu {
  background-color: #1e1e1e;
}

.dropdown > .dropdown-menu > .dropdown-item {
  color: #a9a9a9;
}

.dropdown > .dropdown-menu > .dropdown-item:hover {
  background-color: #1e1e1e;
  color: #fff;
}

.header {
  background: url('../images/drinks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 672px;
}

/*main*/

.main {
  text-align: center;
  margin: 5.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: #181818 solid 1px;
}

.main h2 {
  padding-bottom: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.main .dish-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/**/

.footer {
  padding: 4rem 5rem;
  /* background: #181818;
  color: #EEE; */
}

.footer .info h2 {
  font-family: 'Playfair Display', serif;
}

.info-follow .follow-icon {
  padding: 0 0.5rem;
}

@media (max-width: 992px) {
  .navbar-toggler {
    margin-left: auto;
  }
  #navbarNavDropdown {
    text-align: center;
  }
  .header {
    height: 500px;
  }
  .dropdown > .dropdown-menu {
    text-align: center;
  }
  .footer {
    padding: 3rem;
  }
  .footer .info {
    padding-bottom: 1rem;
  }
  .footer .info, .footer .info-follow {
    text-align: center;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
  .header {
    height: 400px;
  }
  .main {
    text-align: center;
    border: none;
    margin: 0;
    padding-top: 5rem;
  }

  .main h2 {
    padding-bottom: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
  }

  .main .dish-description {
    padding-bottom: 2rem;
  }
}