<div class="row col-12 position-absolute navbar-container">
  <nav class="col-12 navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">LAGOM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

        <% if (current === 'home'){ %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/">Home
            <% if (current === 'home'){%> <span class="sr-only">(current)</span>
            <% } %></a>
        </li>

        <% if (current === 'about'){ %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/about">About us
            <% if (current === 'about'){%> <span class="sr-only">(current)</span>
            <%}%></a>
        </li>

        <% if (current === 'menu'){ %>
        <li class="nav-item dropdown active">
          <% } else { %>
        <li class="nav-item dropdown">
          <% } %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="starters">Starters</a>
            <a class="dropdown-item" href="mains">Mains</a>
            <a class="dropdown-item" href="sides">Sides</a>
            <a class="dropdown-item" href="desserts">Desserts</a>
            <a class="dropdown-item" href="drinks">Drinks</a>
          </div>
        </li>

        <% if (current === 'reservation'){ %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/reservation">Table reservation
            <% if (current === 'reservation'){%> <span class="sr-only">(current)</span>
            <%}%></a>
        </li>

        <% if (current === 'gallery'){ %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/gallery">Gallery
            <% if (current === 'gallery'){%> <span class="sr-only">(current)</span>
            <%}%></a>
        </li>
        
        <% if (current === 'contact'){ %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/contact">Contact
            <% if (current === 'contact'){%> <span class="sr-only">(current)</span>
            <%}%></a>
        </li>

      </ul>
    </div>
  </nav>
</div>