<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LAGOM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/about.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheets/animate.css">
  <% include components/google-analytics.ejs%>
</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 header">
      </div>
    </div>

    <% include components/navbar.ejs%>

    <div class="row main">

      <div class="row" id="slide1">
        <div class="col-lg-5 col-sm-12 content wow fadeInLeft" data-wow-duration="1.2s">
          <h2>Welcome to Lagom!</h2>
          <p>Lagom is a unique floating restaurant in Ho Chi Minh City. Located at Saigon Port, No. 40 Tran Cao Van
            Street, District 3, Ho Chi Minh City, Lagom has an ideal location. There is one site being the busy and
            luxurious of downtown - District 3 and one site close to District 1 which is the most concentrated
            commercial
            center. <br> <br>
            We offer a diverse menu. The food takes its inspiration from Europe dishes-served in a warm atmosphere
            where
            the emphasis is on comfort, taste and above all, relaxation and enjoyment. Grilled sea bass fillet, Salmon
            and smoked haddock fish cake, Chicken Milanese...are just a few of the special dishes you'll find on Lagom
            's
            enticing menu. In meal, you can order some sides dishes and enjoy a Vanilla shakerato or Ceylon, Earl Grey.
            Cap off your main course with Cappuccino and one of our specialty desserts such as Whiskey crème brûlée,
            Mini
            chocolate truffles and Chocolate bombe.
          </p>
        </div>
        <img src="images/about-1.jpg" alt="" class="col-lg-6 offset-lg-1">
      </div>

      <div class="row justify-content-between" id="slide2">
        <img src="images/about-slide2-1.jpg" alt="" class="col-lg-4">
        <img src="images/about-slide2-2-crop.jpg" alt="" class="col-lg-8">
      </div>

      <div class="row" id="slide3">
        <p class="col-12 wow fadeInUp">
          With non-stop effort to improve quality food and services, Lagom Restaurant hope to become destination where
          the customer can find enjoyment in relaxing lunch, romantic evening or simply after working hard at the
          company.
        </p>
        <h2 class="col-12 wow fadeInUp" data-wow-delay="0.7s">Thank you and enjoy your meal – We hope to serve you!</h2>
      </div>

    </div>

    <div class="row footer">
      <div class="col-lg-4 offset-lg-1 col-12 info">
        <h2>LAGOM</h2>
        <p class="address">40 Trần Cao Vân Street, District 3</p>
      </div>
      <div class="col-lg-3 offset-lg-4 col-12 info-follow">
        <p>Follow us on</p>
        <a href="https://www.facebook.com/lagom.thriftshop/" target="_blank"><i class="fab fa-facebook-f fa-lg follow-icon"></i></a>
        <a href="https://www.instagram.com/lagom.restaurant/" target="_blank"><i class="fab fa-instagram fa-lg follow-icon"></i></a>
      </div>
    </div>
  </div>

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="javascripts/toggleButton.js"></script>
  <script src="javascripts/wow.min.js"></script>
  <script src="javascripts/wowInit.js"></script>
</body>

</html>