<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LAGOM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/contact.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/animate.css">
  <% include components/google-analytics.ejs%>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 header">
      </div>
    </div>

    <% include components/navbar.ejs%>

    <div class="row main">
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=40%20Tran%20Cao%20Van&key=AIzaSyCNTWaGcUgrBjilf_4kYhb9RN9LaXCgaRo"
        allowfullscreen class="col-lg-6 col-10"></iframe>
      <div class="col-lg-4 col-12 contact-info wow fadeInUp">
        <h2>LAGOM restaurant</h2>
        <p>Monday - Sunday: 10:00 - 23:00 <br>
          (last order: 22:30) <br>
          Address: 40 Trần Cao Vân Street, District 3, HCMC <br>
          Phone: +84-28-3622-0435
        </p>
      </div>
    </div>


    <div class="row footer">
      <div class="col-lg-4 offset-lg-1 col-12 info">
        <h2>LAGOM</h2>
        <p class="address">40 Trần Cao Vân Street, District 3</p>
      </div>
      <div class="col-lg-3 offset-lg-4 col-12 info-follow">
        <p>Follow us on</p>
        <a href="https://www.facebook.com/lagom.thriftshop/" target="_blank"><i class="fab fa-facebook-f fa-lg follow-icon"></i></a>
        <a href="https://www.instagram.com/lagom.thriftshop/" target="_blank"><i class="fab fa-instagram fa-lg follow-icon"></i></a>
      </div>
    </div>
  </div>

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    function initMap() {
      const location = { lat: 10.785330, lng: 106.698130 };
      const map = new google.maps.Map(document.getElementById('map'), { zoom: 17, center: location });
      const marker = new google.maps.Marker({ position: location, map: map });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNTWaGcUgrBjilf_4kYhb9RN9LaXCgaRo&callback=initMap">
  </script>
  <script src="javascripts/toggleButton.js"></script>
  <script src="javascripts/wow.min.js"></script>
  <script src="javascripts/wowInit.js"></script>
</body>

</html>