<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LAGOM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/reservation.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheets/animate.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 header">
      </div>
    </div>

    <% include components/navbar.ejs%>

    <div class="row slide1">
      <h2 class="col-12 wow fadeInUp">Make Your Reservation</h2>
      <p class="col-12 wow fadeInUp" data-wow-delay="0.7s">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Natus, quo unde voluptatem minima
        vitae</p>
    </div>

    <div class="row slide2">
      <form action="javascript:void(0);" id="reservation-form">
        <div class="input-group wow fadeInUp">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required>

          <label for="phone-number">Phone Number</label>
          <input type="tel" name="phone-number" id="phone-number" required>

          <label for="email">Email</label>
          <input type="text" name="email" id="email" required>

          <label for="arrival-date">Arrival Date</label>
          <input type="date" name="arrival-date" id="arrival-date" required>

          <label for="arrival-time">Arrival Time</label>
          <input type="time" name="arrival-time" id="arrival-time" required>

          <label for="party-size">Party Size</label>
          <input type="text" name="party-size" id="party-size" required>

          <label for="special-requests">Special Requests</label>
          <p>If you have any specific requests, please write here. Example: allergy, request for seats, baby chair etc</p>
          <textarea name="special-requests" form="reservation-form" id="special-requests"></textarea>

          <button type="submit" class="reservationButton" id="reservation-button">Submit</button>
        </div>
      </form>
    </div>

    <div class="row footer">
      <div class="col-lg-4 offset-lg-1 col-12 info">
        <h2>LAGOM</h2>
        <p class="address">40 Trần Cao Vân Street, District 3</p>
      </div>
      <div class="col-lg-3 offset-lg-4 col-12 info-follow">
        <p>Follow us on</p>
        <a href="https://www.facebook.com/lagom.thriftshop/" target="_blank"><i class="fab fa-facebook-f fa-lg follow-icon"></i></a>
        <a href="https://www.instagram.com/lagom.thriftshop/" target="_blank"><i class="fab fa-instagram fa-lg follow-icon"></i></a>
      </div>
    </div>
  </div>

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script></script>
  <script src="javascripts/toggleButton.js"></script>
  <script src="javascripts/wow.min.js"></script>
  <script src="javascripts/wowInit.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="javascripts/reservation.js"></script>
</body>

</html>