@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.navbar {
  background: transparent;
  top: 0;
  right: 0;
  left: 0;
}

.navbar .navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.header {
  background: url('../images/aboutus.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*main*/

.main {
  padding: 0rem 4rem;
}

#slide1 {
  padding-top: 6rem;
}

#slide1 .content {
  text-align: justify;
}

#slide1 .content h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

#slide1 .content p {
  margin-top: 4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#slide1 img {
  height: 700px;
}

#slide2 {
  padding-top: 4rem;
}

#slide2 img {
  height: 600px;
}

#slide3 {
  padding: 15rem 0 11rem 0;
}

#slide3 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

#slide3 h2 {
  padding-top: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-align: center;
}

/**/

.footer {
  padding: 4rem 5rem;
  /* background: #181818;
  color: #EEE; */
}

.footer .info h2 {
  font-family: 'Playfair Display', serif;
}

.info-follow .follow-icon {
  padding: 0 0.5rem;
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    display: none;
  }
  .header {
    background: url('../images/aboutus.png');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header img {
    width: 200%;
  }
  .footer {
    padding: 3rem;
  }
  .footer .info {
    padding-bottom: 1rem;
  }
  .footer .info, .footer .info-follow {
    text-align: center;
  }
}