@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.navbar {
  background: transparent;
  top: 0;
  right: 0;
  left: 0;
}

.navbar .navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.header {
  background: url('../images/aboutus.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*main*/

.main {
  padding: 5rem 0 3rem 0;
}

.main iframe {
  margin: 0 2rem 0 4rem;
  height: 450px;
  width: 750px;
}

.main .contact-info h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.main .contact-info p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/**/

.footer {
  padding: 4rem 5rem;
  /* background: #181818;
  color: #EEE; */
}

.footer .info h2 {
  font-family: 'Playfair Display', serif;
}

.info-follow .follow-icon {
  padding: 0 0.5rem;
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    display: none;
  }
  .header {
    background: url('../images/aboutus.png');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header img {
    width: 200%;
  }
  .row {
    justify-content: center;
  }
  .main iframe {
    margin: 0;
    padding-bottom: 3rem;
    width: 100%;
    height: 450px;
  }
  .main .contact-info {
    text-align: center;
  }
  .footer {
    padding: 3rem;
  }
  .footer .info {
    padding-bottom: 1rem;
  }
  .footer .info, .footer .info-follow {
    text-align: center;
  }
}