<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dish Manage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/dish.css" />
</head>

<body>
  <div class="container">
    <h1>LAGOM</h1>
    <a href="addDish">Add new dish</a>
    <a href="#">List of dishes</a>
  </div>
</body>

</html>