<div class="row col-12 position-absolute navbar-container">
    <nav class="col-12 navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">LAGOM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
  
          <% if (current === 'Log In'){ %>
          <li class="nav-item active">
            <% } else { %>
          <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/admin/login">Log In
              <% if (current === 'Log In'){%> <span class="sr-only">(current)</span>
              <% } %></a>
          </li>
  
          <% if (current === 'Sign Up'){ %>
          <li class="nav-item active">
            <% } else { %>
          <li class="nav-item">
            <% } %>
            <a class="nav-link" href="/admin/register">Sign Up
              <% if (current === 'Sign Up'){%> <span class="sr-only">(current)</span>
              <%}%></a>
          </li>
  
        
        </ul>
      </div>
    </nav>
  </div>